*.pdf
*.html
*.opensdf
*.obj
*.sdf
*.suo
*.jpg
*.png
*.fnt
*.vcxproj.filters
*.ipch
*.log
*.tlog
*.pdb
*.cache
*.lastbuildstate
*.unsuccessfulbuild
*.vcxproj.user
*.lib
*.rc
*.res
*.manifest
*.idb
*.exe
*.ui
*.qrc
*.ilk
external/**
src/TeleoperationGUI/GeneratedFiles/**
src/Core/Debug/**